<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<h2>Update CurvePoint</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/curvePoint/update/{id}(id=${curveList.id})}"  method="post" class="form-horizontal" style="width: 100%">
			<div th:object="${curveList}">
				<div class="row">
					<label for="curveId" class="col-form-label ">Curve Id</label>
				</div>
				<div class="row">
					<input type="number" th:field="*{curveId}" id="curveId" th:placeholder="*{curveId}"/>
				</div>
					<!--validation error-->
				<div class="row">
					<p th:if="${#fields.hasErrors('curveId')}" th:class="${#fields.hasErrors('curveId')}? 'text-danger'"
					   th:errorclass="error" th:errors="*{curveId}"></p>
				</div>


				<div class="row ">
					<label for="term" class=" col-form-label ">Term</label>
				</div>
				<div class="row ">
					<input type="number" th:field="*{term}" id="term" th:placeholder="*{term}"/>
				</div>
					<!--validation error-->
				<div class="row ">
					<p th:if="${#fields.hasErrors('term')}" th:class="${#fields.hasErrors('term')}? 'text-danger'"
					   th:errorclass="error" th:errors="*{term}"></p>
				</div>


				<div class="row">
					<label for="value" class="col-form-label ">Value</label>
				</div>
				<div class="row">
					<input type="number" th:field="*{value}" id="value" th:placeholder="*{value}"/>
				</div>
					<!--validation error-->
				<div class="row">
					<p th:if="${#fields.hasErrors('value')}" th:class="${#fields.hasErrors('value')}? 'text-danger'"
					   th:errorclass="error" th:errors="*{value}"></p>
				</div>

				<div class="row">

					<button class="btn btn-danger text-white" type="reset"><a class="text-white" href="/curvePoint/list">Cancel</a></button>
					<button class="btn btn-primary" type="submit">Update curvePoint</button>

				</div>
			</div>
		</form>
	</div>

</div>
</body>
</html>