<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<h2>Update Trade</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/trade/update/{id}(id=${trade.id})}"  method="post" class="form-horizontal" style="width: 100%">
			<div th:object="${trade}">
				<div class="row">
					<label for="account" class="col-form-label ">Account</label>
				</div>
				<div class="row">
					<input type="text" th:field="*{account}" id="account" th:placeholder="*{account}"/>
				</div>
					<!--validation error-->
				<div class="row">
					<p th:if="${#fields.hasErrors('account')}" th:class="${#fields.hasErrors('account')}? 'text-danger'"
					   th:errorclass="error" th:errors="*{account}"></p>
				</div>


				<div class="row ">
					<label for="type" class=" col-form-label ">type</label>
				</div>
				<div class="row ">
					<input type="text" th:field="*{type}" id="type" th:placeholder="*{type}"/>
				</div>
					<!--validation error-->
				<div class="row ">
					<p th:if="${#fields.hasErrors('type')}" th:class="${#fields.hasErrors('type')}? 'text-danger'"
					   th:errorclass="error" th:errors="*{type}"></p>
				</div>


				<div class="row">
					<label for="buyQuantity" class="col-form-label ">Bid Quantity</label>
				</div>
				<div class="row">
					<input type="number" th:field="*{buyQuantity}" id="buyQuantity" th:placeholder="*{buyQuantity}"/>
				</div>
					<!--validation error-->
				<div class="row">
					<p th:if="${#fields.hasErrors('buyQuantity')}" th:class="${#fields.hasErrors('buyQuantity')}? 'text-danger'"
					   th:errorclass="error" th:errors="*{buyQuantity}"></p>
				</div>

				<div class="row">

					<button class="btn btn-danger text-white" type="reset"><a class="text-white" href="/trade/list">Cancel</a></button>
					<button class="btn btn-primary" type="submit">Update trade</button>

				</div>
			</div>
		</form>
	</div>

</div>
</body>
</html>