<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New User</h2>
	</div>
	<!--exception handling-->
	<div class="alert alert-danger" th:if="${errorMsg}" th:class="${errorMsg}? 'alert alert-danger':''" role="alert">
		<p th:text="${errorMsg}"></p>
	</div>
	<div class="row">
		<form action="#" th:action="@{/user/validate}" th:object="${user}" method="post" class="form-horizontal" style="width: 100%">

			<div class="row">
				<label for="fullname" class="col-form-label ">fullname</label>
			</div>
			<div class="row">
				<input type="text" th:field="*{fullname}" id="fullname" placeholder="fullname here"/>
			</div>
			<!--validation error-->
			<div class="row">
				<p th:if="${#fields.hasErrors('fullname')}" th:class="${#fields.hasErrors('fullname')}? 'text-danger'"
				   th:errorclass="error" th:errors="*{fullname}"></p>
			</div>
			<div class="row ">
				<label for="username" class=" col-form-label ">username</label>
			</div>
			<div class="row ">
				<input type="text" th:field="*{username}" id="username" placeholder="username"/>
			</div>
			<!--validation error-->
			<div class="row ">
				<p th:if="${#fields.hasErrors('username')}" th:class="${#fields.hasErrors('username')}? 'text-danger'"
				   th:errorclass="error" th:errors="*{username}"></p>
			</div>
			<div class="row ">
				<label for="password" class=" col-form-label ">password</label>
			</div>
			<div class="row ">
				<input type="text" th:field="*{password}" id="password" placeholder="password"/>
			</div>
			<!--validation error-->
			<div class="row ">
				<ul th:each="error: ${#fields.errors('password')}" th:class="${#fields.hasErrors('password')}? 'text-danger'" >
					<li th:each="message : ${error.split(',')}">
						<p class="error-message"
						   th:text="${message}"></p>
					</li>
				</ul>
			</div>
			<div class="row">
				<label>Role</label>
			</div>
			<div class="row">
					<label class="checkbox-inline" for="admin">
						<input type="radio" id="admin" th:field="*{role}" th:value="ADMIN">Admin</label>
					<label class="checkbox-inline" for="user">
						<input type="radio" id="user" th:field="*{role}" th:value="USER">User</label>
			</div>
				<!--validation error-->

			<div class="row">
					<p th:if="${#fields.hasErrors('role')}" th:class="${#fields.hasErrors('role')}? 'text-danger'"
					   th:errorclass="error" th:errors="*{role}"></p>
				</div>
			<div class="row">
				<button class="btn btn-danger text-white" type="reset"><a class="text-white" href="/user/list">Cancel</a></button>
				<button class="btn btn-primary" type="submit">Add User</button>

			</div>

		</form>
	</div>

</div>
</body>
</html>