<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Home</title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Update User</h2>
	</div>
	<!--exception handling-->
	<div class="alert alert-danger" th:if="${errorMsg}" th:class="${errorMsg}? 'alert alert-danger':''" role="alert">
		<p th:text="${errorMsg}"></p>
	</div>
	<div class="row">
		<form action="#" th:action="@{/user/update/{id}(id=${user.id})}" th:object="${user}" method="post" class="form-horizontal" style="width: 100%">
			<div class="row">
				<label for="fullname" class="col-sm-2 control-label">Full Name</label>
			</div>
				<div class="row">
					<input type="text" th:field="*{fullname}" id="fullname" placeholder="Full Name" class="col-4">
				</div>
			<!--validation error-->
			<div class="row">
				<p th:if="${#fields.hasErrors('fullname')}" th:class="${#fields.hasErrors('fullname')}? 'text-danger'"
				   th:errorclass="error" th:errors="*{fullname}"></p>
			</div>

			<div class="row">
				<label for="username" class="col-sm-2 control-label">User Name</label>
			</div>
				<div class="row">
					<input type="text" th:field="*{username}" id="username" placeholder="User Name" class="col-4">
				</div>
			<!--validation error-->
			<div class="row">
				<p th:if="${#fields.hasErrors('username')}" th:class="${#fields.hasErrors('username')}? 'text-danger'"
				   th:errorclass="error" th:errors="*{username}"></p>
			</div>
			<div class="row">
				<label for="password" class="col-sm-2 control-label">Password</label>
			</div>
				<div class="row">
					<input type="password" th:field="*{password}" id="password" placeholder="Password" class="col-4">
				</div>
			<!--validation error-->
			<div class="row">
				<p th:if="${#fields.hasErrors('password')}" th:class="${#fields.hasErrors('password')}? 'text-danger'"
				   th:errorclass="error" th:errors="*{password}"></p>
			</div>
			<div class="row">
				<label for="password" class="col-sm-2 control-label">Role</label>
			</div>
				<div class="row">
					<label class="checkbox-inline"><input type="radio" th:field="*{role}" th:value="ADMIN">Admin</label>
					<label class="checkbox-inline"><input type="radio" th:field="*{role}" th:value="USER">User</label>
				</div>
			<!--validation error-->
			<div class="row">
				<p th:if="${#fields.hasErrors('role')}" th:class="${#fields.hasErrors('role')}? 'text-danger'"
				   th:errorclass="error" th:errors="*{role}"></p>
			</div>

			<div class="row">
				<button class="btn btn-danger text-white" type="reset"><a class="text-white" href="/user/list">Cancel</a></button>
				<button class="btn btn-primary" type="submit">Update user</button>
			</div>

		</form>
	</div>

</div>
</body>
</html>